@import "./index";

.wrap {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-gap: 40px;
}

.header {
    grid-column: span 2;

    &__logo {
        color: #fff;
        font-weight: bold;
        font-size: 1.2em;
        display: inline-block;
        border: 2px solid #fff;
        padding: 5px;
    }

    &__title {
        padding-left: 10px;
    }
}

.sidebar {
    grid-row: span 2;
    justify-self: end;

    &__nav {
        display: flex;
        flex-direction: column;
        text-align: right;

        .active:after {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $green;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &-item {
            margin-bottom: 10px;
            position: relative;
            padding-right: 15px;
        }
    }
}

.content {
    grid-row: span 2;
    padding-left: 40px;
    border-left: 1px dashed $color;

    &__title {
        color: #fff;
    }

}

.footer {
    grid-column: span 2;
    font-size: .8em;
    padding: 10px 0;
    text-align: center;
    border-top: 1px dashed $color;
}