@import './vars.scss';

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: IBM Plex Mono, monospace, serif;
    font-size: 14px;
    background: $bg;
    color: $color;
    margin: 0;
    padding: 0;
    height: auto;
}
#root {
    max-width: 80%;
    margin: 50px auto;
}
h1, h2, h3 {
    margin: 0;
}