@import './vars.scss';

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: IBM Plex Mono, monospace, serif;
    font-size: 17px;
    background: $bg;
    color: $color;
    margin: 0;
    padding: 0;
}
#root {
    max-width: 80%;
    margin: 100px auto;
}
a {
    color: $links;
    text-decoration: none;
}
a:hover {
    color: $green;
}
h1, h2, h3 {
    margin: 0;
}