@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Light.ttf');
    url('./fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Regular.ttf');
    url('./fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #f4f4f8;
    /*background: #36454f;*/
    color: #4a4e4d;
    /*color: #f4f4f8;*/
    height: 100vh;
    overflow: hidden;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
.wrap {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, 10vh) 1fr minmax(50px, 10vh);
    min-height: 100%;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Toggle theme mode */
.header__toggle-theme {
    display: flex;
    align-items: center;
}
.theme-mode {
    visibility: hidden;
}
.theme-mode-label {
    position: relative;
    display: block;
    width: 38px;
    height: 20px;
    background: transparent;
    border: 2px solid #d5d5e5;
    border-radius: 24px;
    cursor: pointer;
}
.theme-mode-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
    background: #d5d5e5;
    border-radius: 50%;
    transition: left .2s ease;
}
.theme_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
}
.theme_icon.sun {
    fill: #f6cb49;
}
.theme_icon.dark {
    fill: #d5edff;
}
.theme-mode:checked + .theme-mode-label > .theme-mode-btn {
    left: 14px;
}
/* Main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 100px;
}
.content-header {
   position: absolute;
   top: 10vh;
   left: 50%;
   transform: translateX(-50%);
}
.nav {
    margin-bottom: 10px;
}
.nav_link {
    color: #009cff;
    padding: 0 5px;
    font-weight: 300;
}
.nav_link:hover {
    color: #fe4a49;
}
.title {
    font-weight: 400;
    letter-spacing: .1em;
    pointer-events: none;
}
/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_contacts {
    text-decoration: none;
    padding: 0 10px;
}
.contact_icon{
    width: 26px;
    height: 26px;
    fill: #d5d5e5;
    transition: fill .2s linear;
}
.nav_contacts:hover > .contact_icon {
    fill: #4a4e4d;
}
@keyframes logo-animation {
    0%   { transform: scale(0)      translateX(0); }
    10%  { transform: scale(.8)     translateX(0); }
    30%  { transform: scale(1.1,.9)   translateX(-50px); }
    50%  { transform: scale(.95,1.05) translateX(0); }
    57%  { transform: scale(1,1)      translateX(-7px); }
    64%  { transform: scale(1,1)      translateX(0); }
    100% { transform: scale(1,1)      translateX(0); }
}
/* Portfolio */
.portfolio-wrap {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}
.portfolio-item {
    width: 100%;
    min-width: 25vw;
    height: 100%;
    border: 1px solid #d5d5e5;
    position: relative;
}
@media screen and (max-width: 1280px) {
    .portfolio-item {
        min-width: 35vw;
    }
}
@media screen and (max-width: 780px) {
    .portfolio-item {
        min-width: 65vw;
    }
}
.item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% top;
    transition: object-position 1s ease;
}
.item-content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    padding-top: 20px;
}
.item-title, .item-text {
    display: inline-block;
    padding: 10px;
    background: rgba(78, 78, 77, 0.8);
    color: #f4f4f8;
    box-shadow: -2px 5px 10px rgba(78, 78, 77, 0.8);
}
.portfolio-item.open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
    max-width: 40vw;
    max-height: 80vh;
    border: 1px solid #a5a5ad;
}
.open .item-image {
    object-fit: cover;
    object-position: center top;
}
.open .item-content {
    width: 100%;
    top: 60%;
    height: 40%;
    padding-left: 20px;
    background: rgba(78, 78, 77, 0.5);
    text-align: left;
    backdrop-filter: blur(4px);
}
.open .item-title,
.open .item-text {
    background: transparent;
    box-shadow: none;
}
.open .item-title {
    font-size: 1.6em;
}
.open .usage {
    margin-left: 10px;
}
.open .usage span {
    font-size: .8em;
    padding: 4px 5px;
    margin: 0 5px;
    color: #fff;
    background:rgba(78, 78, 76, 0.8);
}
.open .buttons {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.btn {
    font-size: .8em;
    display: inline-block;
    flex: 1;
    line-height: 50px;
    color: #f4f4f8;
    background: rgba(85, 94, 86, .8);
    text-decoration: none;
    letter-spacing: 1.4px;
    position: relative;
}
.btn:last-child {
    background: rgba(83, 86, 95, 0.8);
}
.btn span {
    display: inline-block;
    transition: .3s;
}
.btn:before {
    content: attr(data-content);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(102, 124, 105, 1);
    transition: .3s;
}
.btn:last-child:before {
    background: rgba(81, 89, 117, 1);
}
.btn:hover span {
    transform: translateY(100%);
}
.btn:hover:before {
    top: 0;
}

.overlay {
    z-index: 1;
    position: fixed;
    background: rgba(78, 78, 76, 0.3);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
