.Input {
    width: 100%;
    padding-right: 10px;
    display: flex;
    position: relative;
}
.Input input {
    box-sizing: border-box;
    display: block;
    border: 1px solid #bebebe;
    padding: 5px 10px;
    outline: none;
}
.Input input:focus {
    outline: 1px solid #2884f6;
}
.Input label {
    margin-bottom: 3px;
    display: block;
}
.Input span {
    position: absolute;
    bottom: -25px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #f01f30;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    z-index: 2;
}
.Input.invalid input {
    color: #f01f30;
}
