.wrap {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-gap: 40px;
}
.content {
    min-height: 70vh;
    grid-row: span 2;
    padding-left: 40px;
}